BODY { line-height: 120% ; font-size: 11pt ; background-color: #CCFFCC } 
/*
<body bgcolor="#CCFFCC" link="#0000FF" vlink="#800080" alink="#FF0000" text="#000000">
*/

A:link		{ color: #0000FF } 
A:visited	{ color: #800080 ; 
		  text-decoration: none }
/*
A:hover         { color: red;
                  background:  lightcyan}
*/
A:active        { color: #FF0000}
.center { text-align: center }
.right  { text-align: right }
.left   { text-align: left }

.smaller        { font-size: 90% }
.large          { font-size: 110% }
.larger         { font-size: 120% }

P { line-height: 120% ; font-size: 11pt }
DIV { line-height: 120%   ; font-size: 12pt}
BLOCKQUOTE   { line-height: 120% ; font-size: 11pt}
DT,DD        { line-height: 120%; font-size: 11pt }
PRE          { font-size:   100% ; font-size: 11pt}

UL {line-height: 120% ; font-size: 11pt}
LI {line-height: 120% ; font-size: 11pt}

H1{ background-color:#CCFFCC; color: Black;
border-style:solid; border-color:#008000; border-width:  0 0 5 0 ;
width:100% ; margin-left:0px
;font-size:18pt; font-weight:bold; letter-spacing:0.1em ;
line-height:100%}

H2{border-style:solid; border-color:#008000; border-width:0 0 2 16 ;
;margin-left:0px; margin-right:30px; padding-left:16px
;font-size:16pt; font-weight:bold; letter-spacing:0.1em
;line-height:100% }
H3{border-style:solid; border-color:#008000; border-width:0 0 0 14
;margin-left:0px; padding-left:30px ; padding-left:14px ;
;margin-right:90px
;font-size:14pt; font-weight:bold
;line-height:100% }

H4{border-style:solid; border-color:#008000; border-width:0 0 0 10
;margin-left:0px; padding-left:12px; padding-left:12px ;
;margin-right:120px
;font-size:12pt; font-weight:bold
;line-height:100% }
H5{border-style:solid; border-color:#008000; border-width:0 0 0 7
;margin-left:0px; padding-left:12px ; padding-left:12px ;
;margin-right:150px
;font-size:12pt; font-weight:bold
;line-height:100% }
